<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HTML5 boilerplate – all you really need…</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class='text-center'>
      <h2><span class="glyphicon glyphicon-fire"></span></h2>
    </div>
      <div class="panel panel-default">
        <div class="panel-body" style="text-align: center;">
          <h3>Manage your CPD events and attendees with ease.</h3>
          <br />
          <p>
            Skillcounter allows the Malaysian Veterinary Council to manage it's CPD events and monitor their members' progress through a simple online interface that tracks their members' points accumulation, license redemptions and event attendances. 
          </p>
          <a class="btn btn-success btn-lg" href="https://docs.google.com/forms/d/1MdYShICCmSvwHWM6NG8zWXeiOyweYUl_p9pkDOa4-Dc/viewform">Register your Interest</a>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>