<div class="jumbotron">
        <h1>Welcome to Skill Counter</h1>
        
        <br>
        
         <div class="row">
             <div class="col-md-12">
              
              <p>Vets can claim your profile here.  
        
                <%= link_to "Claim Profile", claim_profile_path(@vet), class: "btn btn-primary btn-lg" %>
              </p>  
                 
            </div>
             
         </div>
        
       <div class="row">
             <div class="col-md-12">
              
               <p>Organizer can register your account here. 
        
                <%= link_to "Sign Up", new_organizer_path, class: "btn btn-primary btn-lg" %>
                </p>
                 
            </div>
             
         </div>
        
       
</div>

