<h1>Vet Index</h1>
<table>
    <% @vet.each do |u| %>
    <tr>
        <td>Name:</td>
        <td>Licence Number:</td>
    </tr>
    <tr>
        <td><%= u.name %></td>
        <td><%= u.licence_number %></td>
    </tr>
    <% end %>
</table>

