<h3>Make Payment</h3>
<h4>You will need to make a payment of RMXXX before you can claim your profile</h4>

insert paypal thingy here

redirect if success / provide link to "Successfully claimed profile"
else request resend log