<h3> Successfully claimed profile</h3>
<h3> An email has been sent to your email at <%= @user.email %> with a temporary password and login details</h3>
<h3> Click <%= link_to "here", new_user_session_path %> to sign in</h3>

