
<div class="container">
<div class="row">
  <div class="col-md-12">
    <div class="page-header custom-with_input">
        <h1>User details<small></small></h1>
    </div>
  </div>
</div>


<%= render 'form' %>



</div>