
<div class="row">
            <div class="col-md-12">
                <h4>I attended this event on:</h4>
                <ul>
                    <li>4th September 2015</li>
                    <li>14th July 2015</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Event Transcripts
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="media-list files">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../images/file-68x69px.jpg" alt="file">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10 col-sm-9">
                                <button type="button" class="btn btn-default btn-sm">View Transcripts</button>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../images/file-68x69px.jpg" alt="file">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10 col-sm-9">
                                <button type="button" class="btn btn-default btn-sm">View Transcripts</button>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="../images/file-68x69px.jpg" alt="file">
                        </a>
                        <div class="media-body">
                            <div class="col-md-10 col-sm-9">
                                <button type="button" class="btn btn-default btn-sm">View Transcripts</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h3>
                        <span class="glyphicon glyphicon-upload"></span> Attach Transcript
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <form role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" readonly="readonly">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    <input type="file" multiple="multiple" id="exampleInputFile"> Select File&hellip;
                                </span>
                            </span>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Upload</button>
                    </div>
                </form>
            </div>
        </div>