<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @organizer.name %>,</h1>
    <p>
      You have successfully registered as an Organizer on SkillCounter! </p>
    <p>
      You can login with your email <%= @organizer.email %> and 
      the password you entered when registering.
    </p>
    <p>
      Do give us feedback on how we can improve our platform for your ease of use.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>